.env
node_modules
build

# compiled output
/dist
/dist-production
/tmp
/out-tsc

# editors
/.idea
/.vscode
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace

# misc
/.sass-cache
/.scannerwork
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# system
.DS_Store
Thumbs.db
